In [7]:
# StewartStack
# Data Cleaning and ML learning for CS 
# 12/04/2023

### === Understanding the Data ===

### === The Dataset ===

#### === Importing libraries & creating settings ===

In [24]:
# Import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Enable the display of matplotlib plots directly in the Jupyter Notebook
%matplotlib inline

# Set the default figure size for matplotlib plots
plt.rcParams['figure.figsize'] = (12, 8)

# Set the maximum number of columns to display in a DataFrame to 120
pd.set_option('display.max_columns', 120)

# Set the maximum width of each column to display in a DataFrame to 5000 characters
pd.set_option('display.max_colwidth', 5000)

In [25]:
# Loading in csv file and using skiprow()
# Row 1 contains a link & sits above the series headings.
# Removing so the data can be parsed properly
loans_2007 = pd.read_csv('lending_club_loans.csv', skiprows = 1, low_memory = False)

In [26]:
loans_2007.head(3)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=1077501,Borrower added on 12/22/11 > I need to upgrade my business technologies.<br>,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,735.0,739.0,1.0,NaN,NaN,3.0,0.0,13648.0,83.70%,9.0,f,0.0,0.0,5863.155187,5833.84,5000.00,863.16,0.0,0.00,0.00,Jan-15,171.62,NaN,Sep-16,744.0,740.0,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.action?loan_id=1077430,Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike. I only need this money because the deal im looking at is to good to pass up.<br><br> Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike.I only need this money because the deal im looking at is to good to pass up. I have finished college with an associates degree in business and its takingmeplaces<br>,car,bike,309xx,GA,1.00,0.0,Apr-99,740.0,744.0,5.0,NaN,NaN,3.0,0.0,1687.0,9.40%,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.0,117.08,1.11,Apr-13,119.66,NaN,Sep-16,499.0,0.0,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.action?loan_id=1077175,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,735.0,739.0,2.0,NaN,NaN,2.0,0.0,2956.0,98.50%,10.0,f,0.0,0.0,3005.666844,3005.67,2400.00,605.67,0.0,0.00,0.00,Jun-14,649.91,NaN,Sep-16,719.0,715.0,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

#### === Thresh ===

In [27]:
# Remove all columns with more than 50% missing values & 2 columns which are not needed
# Reassign in both cases
# Calculate the half of the total number of rows in the 'loans_2007' DataFrame
half_count  = len(loans_2007) / 2
# Drop the columns in the 'loans_2007' DataFrame that have more than half_count missing values
loans_2007 = loans_2007.dropna(thresh = half_count, axis = 1)
# Drop the 'url' and 'desc' columns from the 'loans_2007' DataFrame
loans_2007 = loans_2007.drop(['url', 'desc'], axis = 1)

In [28]:
# checking the shape
loans_2007.shape

(42542, 56)

In [29]:
# checking the columns count again
loans_2007.head(3)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,735.0,739.0,1.0,3.0,0.0,13648.0,83.70%,9.0,f,0.0,0.0,5863.155187,5833.84,5000.00,863.16,0.0,0.00,0.00,Jan-15,171.62,Sep-16,744.0,740.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-99,740.0,744.0,5.0,3.0,0.0,1687.0,9.40%,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.0,117.08,1.11,Apr-13,119.66,Sep-16,499.0,0.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,735.0,739.0,2.0,2.0,0.0,2956.0,98.50%,10.0,f,0.0,0.0,3005.666844,3005.67,2400.00,605.67,0.0,0.00,0.00,Jun-14,649.91,Sep-16,719.0,715.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [32]:
# checking info
loans_2007.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42542 entries, 0 to 42541
Data columns (total 56 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          42538 non-null  object
 1   member_id                   42535 non-null  float64
 2   loan_amnt                   42535 non-null  float64
 3   funded_amnt                 42535 non-null  float64
 4   funded_amnt_inv             42535 non-null  float64
 5   term                        42535 non-null  object
 6   int_rate                    42535 non-null  object
 7   installment                 42535 non-null  float64
 8   grade                       42535 non-null  object
 9   sub_grade                   42535 non-null  object
 10  emp_title                   39909 non-null  object
 11  emp_length                  41423 non-null  object
 12  home_ownership              42535 non-null  object
 13  annual_inc                  42531 non-null  float64
 14  verification_status         42535 non-null  object
 15  issue_d                     42535 non-null  object
 16  loan_status                 42535 non-null  object
 17  pymnt_plan                  42535 non-null  object
 18  purpose                     42535 non-null  object
 19  title                       42522 non-null  object
 20  zip_code                    42535 non-null  object
 21  addr_state                  42535 non-null  object
 22  dti                         42535 non-null  float64
 23  delinq_2yrs                 42506 non-null  float64
 24  earliest_cr_line            42506 non-null  object
 25  fico_range_low              42535 non-null  float64
 26  fico_range_high             42535 non-null  float64
 27  inq_last_6mths              42506 non-null  float64
 28  open_acc                    42506 non-null  float64
 29  pub_rec                     42506 non-null  float64
 30  revol_bal                   42535 non-null  float64
 31  revol_util                  42445 non-null  object
 32  total_acc                   42506 non-null  float64
 33  initial_list_status         42535 non-null  object
 34  out_prncp                   42535 non-null  float64
 35  out_prncp_inv               42535 non-null  float64
 36  total_pymnt                 42535 non-null  float64
 37  total_pymnt_inv             42535 non-null  float64
 38  total_rec_prncp             42535 non-null  float64
 39  total_rec_int               42535 non-null  float64
 40  total_rec_late_fee          42535 non-null  float64
 41  recoveries                  42535 non-null  float64
 42  collection_recovery_fee     42535 non-null  float64
 43  last_pymnt_d                42452 non-null  object
 44  last_pymnt_amnt             42535 non-null  float64
 45  last_credit_pull_d          42531 non-null  object
 46  last_fico_range_high        42535 non-null  float64
 47  last_fico_range_low         42535 non-null  float64
 48  collections_12_mths_ex_med  42390 non-null  float64
 49  policy_code                 42535 non-null  float64
 50  application_type            42535 non-null  object
 51  acc_now_delinq              42506 non-null  float64
 52  chargeoff_within_12_mths    42390 non-null  float64
 53  delinq_amnt                 42506 non-null  float64
 54  pub_rec_bankruptcies        41170 non-null  float64
 55  tax_liens                   42430 non-null  float64
dtypes: float64(34), object(22)
memory usage: 18.2+ MB

### === Data Dictionary ===

In [33]:
# read the DD, check number of rows, get column names
data_dictionary = pd.read_csv('LCDataDictionary.csv')
print(data_dictionary.shape[0])
print(data_dictionary.columns.tolist())

115
['LoanStatNew', 'Description']

In [39]:
# Renaming series for clarity and consistency
data_dictionary = data_dictionary.rename(columns={'LoanStatNew': 'name', 'Description': 'description'})

In [40]:
# Viewing the results
data_dictionary.head()

,name,description
0,acc_now_delinq,The number of accounts on which the borrower is now delinquent.
1,acc_open_past_24mths,Number of trades opened in past 24 months.
2,addr_state,The state provided by the borrower in the loan application
3,all_util,Balance to credit limit on all trades
4,annual_inc,The self-reported annual income provided by the borrower during registration.

In [42]:
# merge()
# merge the data dictionary with part of loans. Assign it new variable
# Create a DataFrame of the data types of columns in the 'loans_2007' DataFrame
loans_2007_dtypes = pd.DataFrame(loans_2007.dtypes, columns=['dtypes'])

# Reset the index of the 'loans_2007_dtypes' DataFrame and add the index as a new column named 'name'
loans_2007_dtypes = loans_2007_dtypes.reset_index()
loans_2007_dtypes['name'] = loans_2007_dtypes['index']

# Rearrange the columns in the 'loans_2007_dtypes' DataFrame
loans_2007_dtypes  = loans_2007_dtypes[['name', 'dtypes']]

# Add a new column 'first value' to the 'loans_2007_dtypes' DataFrame, containing the first value of each column in the 'loans_2007' DataFrame
loans_2007_dtypes['first value'] = loans_2007.loc[0].values

# Merge the 'loans_2007_dtypes' DataFrame with the 'data_dictionary' DataFrame, matching on the 'name' column
preview = loans_2007_dtypes.merge(data_dictionary, on='name', how='left')