# ========== IMPORTING FILES ===============

In [1]:
import pandas as pd

# importing a file to read as a DataFrame
more_results = pd.read_excel('more_results.xlsx')
more_results

  student  Test1  Test2  Test3
0     joe     55     70     70
1   klara     45     60     75
2     ian     75     70     80
3    lisa     65     55     65
4     ava     70     65     75

 ### ==== Running basic checks on the data ====

In [2]:
#head()
#This is to view first 5 records in a dataset
more_results.head()

  student  Test1  Test2  Test3
0     joe     55     70     70
1   klara     45     60     75
2     ian     75     70     80
3    lisa     65     55     65
4     ava     70     65     75

In [3]:
#tail()
#This is to view the last results of how many you enter into the parenthesis
more_results.tail(2)

  student  Test1  Test2  Test3
3    lisa     65     55     65
4     ava     70     65     75

### ==== Shape ====

In [4]:
# Here you get the size of the dataframe. This has 3 rows and 5 columns. Note the index column is not included
more_results.shape

(5, 4)

### ==== Info ====

In [5]:
# To get summary of the dataframe
more_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   student  5 non-null      object
 1   Test1    5 non-null      int64
 2   Test2    5 non-null      int64
 3   Test3    5 non-null      int64
dtypes: int64(3), object(1)
memory usage: 288.0+ bytes

### ==== iloc() and loc() ====

In [7]:
#df.iloc[rows, columns]

In [8]:
# iloc is used to retrieve rows and columns by index position
more_results.iloc[0:1, 0:2]

  student  Test1
0     joe     55

In [9]:
# does not work with text
more_results.iloc[0:1, 'student': 'test2']

TypeError: cannot do positional indexing on Index with these indexers [student] of type str