In [22]:
import pandas as pd
import matplotlib as plt
reviews = pd.read_csv('IGNRev.csv')
reviews.head()

,game_id,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,1,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,2,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,3,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,4,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,5,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11

In [23]:
reviews.shape

(18625, 11)

In [24]:
reviews.index

RangeIndex(start=0, stop=18625, step=1)

In [25]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18625 entries, 0 to 18624
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   game_id         18625 non-null  int64
 1   score_phrase    18625 non-null  object
 2   title           18625 non-null  object
 3   url             18625 non-null  object
 4   platform        18625 non-null  object
 5   score           18625 non-null  float64
 6   genre           18589 non-null  object
 7   editors_choice  18625 non-null  object
 8   release_year    18625 non-null  int64
 9   release_month   18625 non-null  int64
 10  release_day     18625 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 1.6+ MB

### === iloc() examples - name attribute ===

In [26]:
#Gives you the name of the column at index position one fo the columns   
reviews.iloc[:,1].name

'score_phrase'

In [27]:
#gives you the name of the row at index position one of the rows
reviews.iloc[1,:].name

1

In [28]:
#gives you the first 5 rows and the first 5 columns by index position
reviews.iloc[0:5, 0:5]

,game_id,score_phrase,title,url,platform
0,1,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita
1,2,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita
2,3,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad
3,4,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360
4,5,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3

In [29]:
# All the rows for the column one
reviews.iloc[:,1]

0            Amazing
1            Amazing
2              Great
3              Great
4              Great
            ...
18620           Good
18621        Amazing
18622       Mediocre
18623    Masterpiece
18624    Masterpiece
Name: score_phrase, Length: 18625, dtype: object

In [30]:
#all the columns for index row nine
reviews.iloc[9,:]
# TIP - QUICK WAY TO SEE A FULL RECORD (ROW) IN DATASET

game_id                                                  10
score_phrase                                           Good
title                             Total War Battles: Shogun
url               /games/total-war-battles-shogun/pc-142564
platform                                                 PC
score                                                   7.0
genre                                              Strategy
editors_choice                                            N
release_year                                           2012
release_month                                             9
release_day                                              11
Name: 9, dtype: object

### === loc() examples ===

In [31]:
# gives you the rows from zero to five inclusive & the columns from game_id to title
reviews.loc[0:5, 'game_id' : 'title']

   game_id score_phrase                                              title
0        1      Amazing                            LittleBigPlanet PS Vita
1        2      Amazing  LittleBigPlanet PS Vita -- Marvel Super Hero E...
2        3        Great                               Splice: Tree of Life
3        4        Great                                             NHL 13
4        5        Great                                             NHL 13
5        6         Good                          Total War Battles: Shogun

In [32]:
# Pick specific series. not that the order will display as entered in the code
reviews.loc[:5, ['score', 'title']]

   score                                              title
0    9.0                            LittleBigPlanet PS Vita
1    9.0  LittleBigPlanet PS Vita -- Marvel Super Hero E...
2    8.5                               Splice: Tree of Life
3    8.5                                             NHL 13
4    8.5                                             NHL 13
5    7.0                          Total War Battles: Shogun

### === Retrieve a Series ===

In [33]:
# Gets the whole list of entries in the score series by just using the series name
reviews['score']

0         9.0
1         9.0
2         8.5
3         8.5
4         8.5
         ...
18620     7.6
18621     9.0
18622     5.8
18623    10.0
18624    10.0
Name: score, Length: 18625, dtype: float64

In [34]:
#the head method can be applied to series as well as the dataframe
reviews['score'].head()

0    9.0
1    9.0
2    8.5
3    8.5
4    8.5
Name: score, dtype: float64

### === List of columns ===

In [35]:
# Shows list of column labels 
list(reviews.columns)

['game_id',
 'score_phrase',
 'title',
 'url',
 'platform',
 'score',
 'genre',
 'editors_choice',
 'release_year',
 'release_month',
 'release_day']

In [36]:
# Getting a list of columns in alphabetical order without speech marks
list(reviews.columns)
my_cols = list(reviews.columns)
my_sorted_cols = sorted(my_cols)
for col in my_sorted_cols:
     print(col)

editors_choice
game_id
genre
platform
release_day
release_month
release_year
score
score_phrase
title
url

### === drop() ===

In [39]:
# Drop a columns that is not needed
reviews.drop(columns = ['url'], axis = 1, inplace = True)
reviews.head()

,game_id,score_phrase,title,platform,score,genre,editors_choice,release_year,release_month,release_day
0,1,Amazing,LittleBigPlanet PS Vita,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,2,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,3,Great,Splice: Tree of Life,iPad,8.5,Puzzle,N,2012,9,12
3,4,Great,NHL 13,Xbox 360,8.5,Sports,N,2012,9,11
4,5,Great,NHL 13,PlayStation 3,8.5,Sports,N,2012,9,11

### === Basic Statistics ===

In [40]:
# Basic statistical information for columns containing integers or floats
reviews.describe()

            game_id         score  release_year  release_month   release_day
count  18625.000000  18625.000000  18625.000000    18625.00000  18625.000000
mean    9313.000000      6.950459   2006.515329        7.13847     15.603866
std     5376.718717      1.711736      4.587529        3.47671      8.690128
min        1.000000      0.500000   1970.000000        1.00000      1.000000
25%     4657.000000      6.000000   2003.000000        4.00000      8.000000
50%     9313.000000      7.300000   2007.000000        8.00000     16.000000
75%    13969.000000      8.200000   2010.000000       10.00000     23.000000
max    18625.000000     10.000000   2016.000000       12.00000     31.000000

In [41]:
# MEan for one series
reviews['score'].mean()

6.950459060402666

In [42]:
#mean for all numerical series in datasets
reviews.mean()

/var/folders/1d/jx3xxhrj0xlbgrnyslfl5xhr0000gn/T/ipykernel_6335/2280098434.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  reviews.mean()

game_id          9313.000000
score               6.950459
release_year     2006.515329
release_month       7.138470
release_day        15.603866
dtype: float64

In [43]:
reviews['score'].median()

7.3

In [44]:
reviews['score'].mode()

0    8.0
Name: score, dtype: float64

### === Boolean Indexing ===

In [45]:
# Creating variable to store results of filter for review scores
score_filter = reviews['score'] > 7
score_filter

0         True
1         True
2         True
3         True
4         True
         ...
18620     True
18621     True
18622    False
18623     True
18624     True
Name: score, Length: 18625, dtype: bool

In [46]:
filtered_reviews = reviews[score_filter]
filtered_reviews

,game_id,score_phrase,title,platform,score,genre,editors_choice,release_year,release_month,release_day
0,1,Amazing,LittleBigPlanet PS Vita,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,2,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,3,Great,Splice: Tree of Life,iPad,8.5,Puzzle,N,2012,9,12
3,4,Great,NHL 13,Xbox 360,8.5,Sports,N,2012,9,11
4,5,Great,NHL 13,PlayStation 3,8.5,Sports,N,2012,9,11
...,...,...,...,...,...,...,...,...,...,...
18619,18620,Good,Human Fall Flat,PC,7.9,"Puzzle, Action",N,2016,7,28
18620,18621,Good,Tokyo Mirage Sessions #FE,Wii U,7.6,RPG,N,2016,6,29
18621,18622,Amazing,LEGO Star Wars: The Force Awakens,PlayStation 4,9.0,"Action, Adventure",Y,2016,6,29
18623,18624,Masterpiece,Inside,Xbox One,10.0,Adventure,Y,2016,6,28
18624,18625,Masterpiece,Inside,PC,10.0,Adventure,Y,2016,6,28

### === USing gt() ===

In [47]:
filter_again = reviews[reviews.score.gt(7)]
filter_again

,game_id,score_phrase,title,platform,score,genre,editors_choice,release_year,release_month,release_day
0,1,Amazing,LittleBigPlanet PS Vita,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,2,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,3,Great,Splice: Tree of Life,iPad,8.5,Puzzle,N,2012,9,12
3,4,Great,NHL 13,Xbox 360,8.5,Sports,N,2012,9,11
4,5,Great,NHL 13,PlayStation 3,8.5,Sports,N,2012,9,11
...,...,...,...,...,...,...,...,...,...,...
18619,18620,Good,Human Fall Flat,PC,7.9,"Puzzle, Action",N,2016,7,28
18620,18621,Good,Tokyo Mirage Sessions #FE,Wii U,7.6,RPG,N,2016,6,29
18621,18622,Amazing,LEGO Star Wars: The Force Awakens,PlayStation 4,9.0,"Action, Adventure",Y,2016,6,29
18623,18624,Masterpiece,Inside,Xbox One,10.0,Adventure,Y,2016,6,28
18624,18625,Masterpiece,Inside,PC,10.0,Adventure,Y,2016,6,28

In [48]:
# filter where the review is > 7 AND the console is Xbox one
xbox_one_filter = (reviews['score'] > 7) & (reviews['platform'] == 'Xbox One')
xfiltered_reviews = reviews[xbox_one_filter]
xfiltered_reviews.head()

,game_id,score_phrase,title,platform,score,genre,editors_choice,release_year,release_month,release_day
17137,17138,Amazing,Gone Home,Xbox One,9.5,Simulation,Y,2013,8,15
17197,17198,Amazing,Rayman Legends,Xbox One,9.5,Platformer,Y,2013,8,26
17295,17296,Amazing,LEGO Marvel Super Heroes,Xbox One,9.0,Action,Y,2013,10,22
17313,17314,Great,Dead Rising 3,Xbox One,8.3,Action,N,2013,11,18
17317,17318,Great,Killer Instinct,Xbox One,8.4,Fighting,N,2013,11,18

In [51]:
# filter > 7 AND PS4
ps4_filter = (reviews['score'] > 7) & (reviews['platform'] == 'PlayStation 4')
psfiltered_reviews = reviews[ps4_filter]
psfiltered_reviews.head()

,game_id,score_phrase,title,platform,score,genre,editors_choice,release_year,release_month,release_day
192,193,Amazing,Sound Shapes,PlayStation 4,9.0,Platformer,Y,2012,8,8
17049,17050,Amazing,Fez,PlayStation 4,9.5,Platformer,Y,2013,5,1
17123,17124,Amazing,Rogue Legacy,PlayStation 4,9.0,RPG,Y,2013,7,26
17140,17141,Amazing,Gone Home,PlayStation 4,9.5,Simulation,Y,2013,8,15
17160,17161,Amazing,The Swapper,PlayStation 4,9.3,Platformer,Y,2013,6,1

### === Plotting with matplotlib ===