In [22]:
import pandas as pd
import matplotlib as plt
reviews = pd.read_csv('IGNRev.csv')
reviews.head()

,game_id,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,1,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,2,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,3,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,4,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,5,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11

In [23]:
reviews.shape

(18625, 11)

In [24]:
reviews.index

RangeIndex(start=0, stop=18625, step=1)

In [25]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18625 entries, 0 to 18624
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   game_id         18625 non-null  int64
 1   score_phrase    18625 non-null  object
 2   title           18625 non-null  object
 3   url             18625 non-null  object
 4   platform        18625 non-null  object
 5   score           18625 non-null  float64
 6   genre           18589 non-null  object
 7   editors_choice  18625 non-null  object
 8   release_year    18625 non-null  int64
 9   release_month   18625 non-null  int64
 10  release_day     18625 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 1.6+ MB

### === iloc() examples - name attribute ===

In [26]:
#Gives you the name of the column at index position one fo the columns   
reviews.iloc[:,1].name

'score_phrase'

In [27]:
#gives you the name of the row at index position one of the rows
reviews.iloc[1,:].name

1

In [28]:
#gives you the first 5 rows and the first 5 columns by index position
reviews.iloc[0:5, 0:5]

,game_id,score_phrase,title,url,platform
0,1,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita
1,2,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita
2,3,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad
3,4,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360
4,5,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3

In [29]:
# All the rows for the column one
reviews.iloc[:,1]

0            Amazing
1            Amazing
2              Great
3              Great
4              Great
            ...
18620           Good
18621        Amazing
18622       Mediocre
18623    Masterpiece
18624    Masterpiece
Name: score_phrase, Length: 18625, dtype: object

In [30]:
#all the columns for index row nine
reviews.iloc[9,:]
# TIP - QUICK WAY TO SEE A FULL RECORD (ROW) IN DATASET

game_id                                                  10
score_phrase                                           Good
title                             Total War Battles: Shogun
url               /games/total-war-battles-shogun/pc-142564
platform                                                 PC
score                                                   7.0
genre                                              Strategy
editors_choice                                            N
release_year                                           2012
release_month                                             9
release_day                                              11
Name: 9, dtype: object

### === loc() examples ===

In [31]:
# gives you the rows from zero to five inclusive & the columns from game_id to title
reviews.loc[0:5, 'game_id' : 'title']

   game_id score_phrase                                              title
0        1      Amazing                            LittleBigPlanet PS Vita
1        2      Amazing  LittleBigPlanet PS Vita -- Marvel Super Hero E...
2        3        Great                               Splice: Tree of Life
3        4        Great                                             NHL 13
4        5        Great                                             NHL 13
5        6         Good                          Total War Battles: Shogun

In [32]:
# Pick specific series. not that the order will display as entered in the code
reviews.loc[:5, ['score', 'title']]

   score                                              title
0    9.0                            LittleBigPlanet PS Vita
1    9.0  LittleBigPlanet PS Vita -- Marvel Super Hero E...
2    8.5                               Splice: Tree of Life
3    8.5                                             NHL 13
4    8.5                                             NHL 13
5    7.0                          Total War Battles: Shogun

### === Retrieve a Series ===

In [33]:
# Gets the whole list of entries in the score series by just using the series name
reviews['score']

0         9.0
1         9.0
2         8.5
3         8.5
4         8.5
         ...
18620     7.6
18621     9.0
18622     5.8
18623    10.0
18624    10.0
Name: score, Length: 18625, dtype: float64

In [34]:
#the head method can be applied to series as well as the dataframe
reviews['score'].head()

0    9.0
1    9.0
2    8.5
3    8.5
4    8.5
Name: score, dtype: float64

### === List of columns ===

In [35]:
# Shows list of column labels 
list(reviews.columns)

['game_id',
 'score_phrase',
 'title',
 'url',
 'platform',
 'score',
 'genre',
 'editors_choice',
 'release_year',
 'release_month',
 'release_day']

In [36]:
# Getting a list of columns in alphabetical order without speech marks
list(reviews.columns)
my_cols = list(reviews.columns)
my_sorted_cols = sorted(my_cols)
for col in my_sorted_cols:
     print(col)

editors_choice
game_id
genre
platform
release_day
release_month
release_year
score
score_phrase
title
url

### === drop() ===

In [39]:
# Drop a columns that is not needed
reviews.drop(columns = ['url'], axis = 1, inplace = True)
reviews.head()

,game_id,score_phrase,title,platform,score,genre,editors_choice,release_year,release_month,release_day
0,1,Amazing,LittleBigPlanet PS Vita,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,2,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,3,Great,Splice: Tree of Life,iPad,8.5,Puzzle,N,2012,9,12
3,4,Great,NHL 13,Xbox 360,8.5,Sports,N,2012,9,11
4,5,Great,NHL 13,PlayStation 3,8.5,Sports,N,2012,9,11