In [1]:
# StewartStack
# Telchurn DA Backup
# 11/04/2023

In [2]:
# import numpy, pandas & seaborn libraries
#set precision of display, 2 decimal places
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# Set display precision for floating-point numbers to 2 decimal places
pd.set_option('display.precision', 2)
# Set maximum number of columns to display in a DataFrame to 30
pd.set_option('display.max_columns', 30)

In [3]:
# Checking the dataframe has been creates & precision as been set
telchurn = pd.read_csv('TelecomChurn.csv')
telchurn.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

### === Exploring the Dataset ===

In [4]:
# Finds the number of rows and columns (shape)
telchurn.shape

(3333, 21)

In [6]:
# obtain a list of column names (columns)
telchurn.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [7]:
# Review data types and check for missing values (info())
telchurn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

In [8]:
# Basic statistical information about the data
telchurn.describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00
mean,101.06,437.18,8.10,179.78,100.44,30.56,200.98,100.11,17.08,200.87,100.11,9.04,10.24,4.48,2.76,1.56
std,39.82,42.37,13.69,54.47,20.07,9.26,50.71,19.92,4.31,50.57,19.57,2.28,2.79,2.46,0.75,1.32
min,1.00,408.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23.20,33.00,1.04,0.00,0.00,0.00,0.00
25%,74.00,408.00,0.00,143.70,87.00,24.43,166.60,87.00,14.16,167.00,87.00,7.52,8.50,3.00,2.30,1.00
50%,101.00,415.00,0.00,179.40,101.00,30.50,201.40,100.00,17.12,201.20,100.00,9.05,10.30,4.00,2.78,1.00
75%,127.00,510.00,20.00,216.40,114.00,36.79,235.30,114.00,20.00,235.30,113.00,10.59,12.10,6.00,3.27,2.00
max,243.00,510.00,51.00,350.80,165.00,59.64,363.70,170.00,30.91,395.00,175.00,17.77,20.00,20.00,5.40,9.00

In [9]:
# count()
# Gives totals number or records
telchurn['state'].count()

3333

In [10]:
# value_counts()
# Gives the number of records for each state. This may be of use in another dataset
telchurn['state'].value_counts()

WV    106
MN     84
NY     83
AL     80
WI     78
OH     78
OR     78
WY     77
VA     77
CT     74
MI     73
ID     73
VT     73
TX     72
UT     72
IN     71
MD     70
KS     70
NC     68
NJ     68
MT     68
CO     66
NV     66
WA     66
RI     65
MA     65
MS     65
AZ     64
FL     63
MO     63
NM     62
ME     62
ND     62
NE     61
OK     61
DE     61
SC     60
SD     60
KY     59
IL     58
NH     56
AR     55
GA     54
DC     54
HI     53
TN     53
AK     52
LA     51
PA     45
IA     44
CA     34
Name: state, dtype: int64

In [11]:
# unique()
# gives an array object with abbreviation for each state. Not useful here
state_count = telchurn['state'].unique()
state_count

array(['KS', 'OH', 'NJ', 'OK', 'AL', 'MA', 'MO', 'LA', 'WV', 'IN', 'RI',
       'IA', 'MT', 'NY', 'ID', 'VT', 'VA', 'TX', 'FL', 'CO', 'AZ', 'SC',
       'NE', 'WY', 'HI', 'IL', 'NH', 'GA', 'AK', 'MD', 'AR', 'WI', 'OR',
       'MI', 'DE', 'UT', 'CA', 'MN', 'SD', 'NC', 'WA', 'NM', 'NV', 'DC',
       'KY', 'ME', 'MS', 'TN', 'PA', 'CT', 'ND'], dtype=object)

In [12]:
# nunique()
# check the discrete number of states. 
telchurn['state'].nunique()

51

In [13]:
# Check num of discrete area codes
telchurn['area code'].nunique()

3

In [14]:
# drop()
# drop area code & phone number
telchurn.drop(columns = ['area code', 'phone number'], axis = 1, inplace = True)
telchurn.head()

,state,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [15]:
# Not enough information - Trying to find out if this is days
telchurn['account length'].max()

243

In [16]:
# trying with min()
telchurn['account length'].min()

1

#### === Outliers ===

In [17]:
# Find all records where the account length is equal to 243
telchurn.loc[telchurn['account length'] == 243]

,state,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
817,UT,243,no,no,0,95.5,92,16.24,163.7,63,13.91,264.2,118,11.89,6.6,6,1.78,2,False

In [18]:
# Find all records where the account length is equal to 243
telchurn.loc[telchurn['account length'] > 200]

,state,account length,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
197,TX,208,no,no,0,326.5,67,55.51,176.3,113,14.99,181.7,102,8.18,10.7,6,2.89,2,True
238,WY,215,no,no,0,83.6,148,14.21,120.9,91,10.28,226.6,110,10.20,10.7,9,2.89,0,False
309,SD,209,no,no,0,227.2,128,38.62,258.4,92,21.96,183.5,74,8.26,8.9,4,2.40,3,False
416,DE,224,yes,no,0,171.5,99,29.16,160.0,103,13.60,212.4,102,9.56,5.0,2,1.35,1,True
817,UT,243,no,no,0,95.5,92,16.24,163.7,63,13.91,264.2,118,11.89,6.6,6,1.78,2,False
928,ME,205,no,yes,24,175.8,139,29.89,155.0,98,13.18,180.7,64,8.13,7.8,5,2.11,2,False
1045,TX,217,no,no,0,176.4,115,29.99,158.8,128,13.50,306.6,107,13.80,9.3,3,2.51,4,False
1093,VA,210,no,no,0,104.6,121,17.78,149.5,71,12.71,255.1,67,11.48,6.5,8,1.76,2,False
1387,CT,212,no,no,0,126.0,96,21.42,144.3,80,12.27,302.8,102,13.63,7.6,3,2.05,1,False
1408,NM,232,no,no,0,165.6,104,28.15,195.9,115,16.65,118.3,77,5.32,11.8,3,3.19,1,False
1551,MI,225,no,no,0,165.4,106,28.12,273.7,109,23.26,210.0,93,9.45,8.7,3,2.35,0,True
1751,WY,225,no,no,0,182.7,142,31.06,246.5,63,20.95,218.0,103,9.81,8.8,2,2.38,1,False
1781,TX,201,no,yes,21,192.0,97,32.64,239.1,81,20.32,116.1,125,5.22,15.1,3,4.08,1,False
1886,ID,224,no,no,0,111.4,133,18.94,175.0,66,14.88,217.2,106,9.77,5.5,6,1.49,3,False
2132,GA,202,no,no,0,115.4,137,19.62,178.7,70,15.19,185.7,113,8.36,6.0,3,1.62,3,False
2150,SC,212,no,no,0,226.0,127,38.42,304.6,83,25.89,181.2,132,8.15,12.6,4,3.40,2,True
2259,NC,210,no,yes,31,313.8,87,53.35,147.7,103,12.55,192.7,97,8.67,10.1,7,2.73,3,False
2277,DC,217,no,no,0,123.7,138,21.03,248.5,105,21.12,269.6,78,12.13,13.3,4,3.59,0,False
2303,IN,205,no,no,0,49.9,123,8.48,150.7,81,12.81,188.2,67,8.47,10.1,4,2.73,2,False
2700,SC,209,no,no,0,255.1,124,43.37,230.6,110,19.60,218.0,69,9.81,8.5,5,2.30,3,True
2974,UT,201,no,no,0,212.7,72,36.16,225.2,90,19.14,195.1,99,8.78,7.0,6,1.89,1,False
3007,MD,204,no,no,0,205.2,145,34.88,154.8,95,13.16,191.4,77,8.61,14.1,5,3.81,3,False
3081,NY,204,no,no,0,174.3,85,29.63,254.1,95,21.60,176.4,96,7.94,5.9,3,1.59,6,False
3168,TX,201,no,no,0,225.9,110,38.40,299.1,86,25.42,251.3,81,11.31,11.2,4,3.02,1,True
3216,SD,221,no,yes,24,180.5,85,30.69,224.1,92,19.05,205.7,103,9.26,2.4,3,0.65,0,False
3227,NY,209,no,no,0,153.7,105,26.13,188.6,87,16.03,200.8,95,9.04,10.7,2,2.89,0,False

In [20]:
# Counts the total number of records where the account length is greater than 200
telchurn.loc[telchurn['account length'] > 200]['account length'].count()

26